@import url(http://fonts.googleapis.com/css?family=Bree+Serif);
body{
	margin-top:50px;
}
#cabecalho{
	margin-bottom: 20px;
	margin-top: 20px;
	font-family: 'Bree Serif', serif; 
	font-size: 30px;
	color: black;
	background-color: #f4f4f4;
	border-radius: 10px;
	padding: 10px;
	box-shadow: 2px 2px 2px black;
}
#conteudo{}
#rodape{
	margin-bottom: 20px;
	margin-top: 20px;
	font-family: 'Bree Serif', serif; 
	color: black;
	background-color: #f4f4f4;
	border-radius: 10px;
	padding: 10px;
	box-shadow: 2px 2px 2px black;
}
.glyphicon { 
	margin-right:10px; 
}
.panel-body { 
	padding:0px; 
}
.panel-body table tr td { 
	padding-left: 15px 
}
.panel-body .table {
	margin-bottom: 0px; 
}
.botaoLateral{
	background-color: rgba(0, 0, 0, 0);
	border: none;
	color: black; 
	padding: 0px;
	margin-bottom: -20px;
	font-size: 13px;
}
.botaoLateral:hover{
	color: #2C7CBC;
	text-decoration: underline;
}
a.botaoLateral:link {
    color: #black;
}

/* visited link */
a.botaoLateral:visited {
    color: black;
}

/* mouse over link */
a.botaoLateral:hover {
    color: #2C7CBC;
}

/* selected link */
a.botaoLateral:active {
    color: black;
}